:root.purpleish {
  color-scheme: dark;
  --red: #ff6666;
  --redAlt: #ff9999;
  --redDark: #cc5252;
  --orange: #ff9966;
  --orangeAlt: #ffbb99;
  --yellow: #ffcc66;
  --yellowAlt: #ffdd99;
  --green: #52cca3;
  --greenAlt: #7accb1;
  --greenDark: #3d997a;
  --blue: #527ACC;
  --blueAlt: #7A96CC;
  --purple: #7a52cc;
  --purpleAlt: #967acc;
  --pink: #cc52a3;
  --pinkAlt: #cc7ab1;
  --primary: #7a52cc;
  --primaryAlt: #967acc;
  --primaryDark: #5c3d99;
  --extra: #52cca3;
  --extraAlt: #7accb1;
  --extraDark: #3d997a;
  --bgExtra: #181829;
  --black: #1e1e32;
  --gray: #3d3d66;
  --grayAlt: #5c5c99;
  --white: #a3a3cc;
  --fg: #a3a3cc;
  --bg3: #5c5c99;
  --bg2: #3d3d66;
  --bg1Alt: #282842;
  --bg1: #1e1e32;
}

:root,
:root.default {
  color-scheme: dark;
  --red: #ff6666;
  --redAlt: #ff9999;
  --redDark: #cc5252;
  --orange: #ff9966;
  --orangeAlt: #ffbb99;
  --yellow: #ffcc66;
  --yellowAlt: #ffdd99;
  --green: #52cca3;
  --greenAlt: #7accb1;
  --greenDark: #3d997a;
  --blue: #527ACC;
  --blueAlt: #7A96CC;
  --purple: #7a52cc;
  --purpleAlt: #967acc;
  --pink: #cc52a3;
  --pinkAlt: #cc7ab1;
  --primary: #7a52cc;
  --primaryAlt: #967acc;
  --primaryDark: #5c3d99;
  --extra: #52cca3;
  --extraAlt: #7accb1;
  --extraDark: #3d997a;
  --bgExtra: #181820;
  --black: #1e1e28;
  --gray: #3d3d50;
  --grayAlt: #5c5c7a;
  --white: #a3a3b7;
  --fg: #a3a3b7;
  --bg3: #5c5c7a;
  --bg2: #3d3d50;
  --bg1Alt: #282835;
  --bg1: #1e1e28;
}

:root.light {
  color-scheme: light;
  --red: #E65C5C;
  --redAlt: #E68A8A;
  --redDark: #B34747;
  --orange: #ff9966;
  --orangeAlt: #ffbb99;
  --yellow: #ffcc66;
  --yellowAlt: #ffdd99;
  --green: #42A685;
  --greenAlt: #63A690;
  --greenDark: #2E735C;
  --blue: #527ACC;
  --blueAlt: #7A96CC;
  --purple: #7a52cc;
  --purpleAlt: #967acc;
  --pink: #cc52a3;
  --pinkAlt: #cc7ab1;
  --primary: #7a52cc;
  --primaryAlt: #967acc;
  --primaryDark: #5c3d99;
  --extra: #42A685;
  --extraAlt: #63A690;
  --extraDark: #2E735C;
  --bgExtra: #CFCFE6;
  --black: #363659;
  --gray: #CFCFE6;
  --grayAlt: #A3A3CC;
  --white: #EDEDF2;
  --fg: #363659;
  --bg3: #A3A3CC;
  --bg2: #CFCFE6;
  --bg1Alt: #dfdfed;
  --bg1: #EDEDF2;
}
