.hide {
  display: none;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex.row {
  flex-direction: row;
}

.flex.col {
  flex-direction: column;
}

.flex.colReverse {
  flex-direction: column-reverse;
}

.flex.noWrap {
  flex-wrap: nowrap;
}

.flex.alignCenter {
  align-items: center;
}

.flex.justifyCenter {
  justify-items: center;
  justify-content: center;
}

.text.red,
.nf.red {
  color: var(--red);
}

.text.bg3,
.nf.bg3 {
  color: var(--bg3);
}

button.red,
.button.red {
  color: var(--red);
}

button.red:hover,
.button.red:hover,
button.red:focus,
.button.red:focus {
  color: var(--redAlt);
}

button.red:focus-visible,
.button.red:focus-visible {
  outline: 0.2rem solid var(--red); 
}

.dropdown .content button.red,
.dropdown .content .button.red {
  color: var(--red);
}

.dropdown .content button.red:hover,
.dropdown .content .button.red:hover,
.dropdown .content button.red:focus,
.dropdown .content .button.red:focus {
  color: var(--redAlt);
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid.duo {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
}

.grid.duo > *:first-child {
  padding-right: 1rem;
}

.grid.duo > *:last-child {
  padding-left: 1rem;
  border-left: 0.2rem solid var(--bg2);
}

.nf.large {
  font-size: 4rem;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0px;
  opacity: 0;
  overflow: hidden;
}
